.cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding-left: 20px; 
}

.cart-title {
    margin-bottom: 20px;
}

.cart-list {
    width: 100%;
    padding: 0;
}

.cart-item {
    border: 2px solid green;
    box-shadow: 0 0 10px green;
    padding: 10px;
    margin: 10px 0; 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 400px; 
    width: 100%; 
}

.cart-item__image img {
    width: 80px; 
    height: auto;
    margin-right: 10px; 
}

.cart-item__details {
    flex: 1;
    margin-left: 10px; 
}

.cart-item__actions {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    justify-content: center; 
}

.cart-summary {
    margin-top: 20px;
}

.cart-summary h2 {
    margin-bottom: 10px;
}

.btn-small {
    padding: 5px 10px;
    font-size: 14px;
}


.btn-confirm {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-confirm:hover,
.btn-confirm:active {
    background-color: #218838;
    transform: scale(1.05);
}

.btn-confirm:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00695c;
}